section.pages-list-cat
  if current.source === 'index' && current.path.length === 1
    h2.pages-list-cat-title Игры
    for point, slug in public._data
      if _.includes(point.tags, 'game')
        article.pages-list-cat-item.pages-list-cat-item-game
          a.pages-list-cat-item-link(href="#{ slug }")
            span.pages-list-cat-item-slug #{ slug }
            h3.pages-list-cat-item-title= point.title
            p.pages-list-cat-item-desc= point.desc
    h2.pages-list-cat-title Аудио
    for point, slug in public._data
      if _.includes(point.tags, 'audio')
        article.pages-list-cat-item.pages-list-cat-item-audio
          a.pages-list-cat-item-link(href="#{ slug }")
            span.pages-list-cat-item-slug #{ slug }
            h3.pages-list-cat-item-title= point.title
            p.pages-list-cat-item-desc= point.desc
  else if current.path[current.path.length - 2] === 'sup'
    h2.pages-list-cat-title Курсы
    for point, slug in public.sup._data
      if _.includes(point.tags, 'level')
        article.pages-list-cat-item.pages-list-cat-item-game
          a.pages-list-cat-item-link(href="#{ slug }")
            span.pages-list-cat-item-slug #{ slug }
            h3.pages-list-cat-item-title= point.title
            p.pages-list-cat-item-desc= point.desc
