if current.source === 'index' && current.path.length === 1
  h1.header__title.header__title--main #{ title }
  ul.header__vers
    for point, slug in public.log._data
      if _.includes(point.tags, 'last')
        li
          a.header__vers-link(href='log/#{ slug }') #{ slug }
  .header__yield
    != yield
else if current.path[current.path.length - 2] === 'sup'
  h1.header__title.header__title--game #{ title }
  .header__desc
    p #{ desc }
  .header__yield
    != yield
